body {
    background-color: #94618E;
    font-family: 'Cascadia Code';
}

#gameButtons {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    gap: 25px;

}

.userButton {
    flex-basis: 500px;
    min-height: 500px;

    font-family: 'Cascadia Code';
    font-size: large;
    font-weight: bolder;
}

#rock {
    background-color: #c5d5cb;
}

#paper {
    background-color: #e3e0cf;
}

#scissors {
    background-color: #9fa8a3;
}

#gameInfo {
    background-color:#49274A;

    display:flex;
    justify-content: space-between;

    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 10px;
    min-height: 15vh;
}

.infoMsg {
    background-color:#F8EEE7;
    flex-basis: 150px;

    display:flex;
    justify-content:center;
    align-items:center;

    padding: 20px;
    margin: 5px;
    border: 2px solid black;
}